#div_tabOptions{
  position: absolute;
  display: none;
  max-width: 11.5rem;
  background-color: #c3c3c3;
  border-radius: 0.2rem;
}

#ul_options{
  padding: 0.25rem 0 0.25rem 0;
  list-style-type: none;
  margin: 0;
}

.li_search{
  padding: 0.25rem 0.3rem 0.25rem 0.3rem;
}

.li_search:hover{
  background-color: steelblue;
}

#li_addFilo{
  text-align: center;
}

#p_addFilo {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

#input_addFilo{
    max-width: 11rem;
}
