.div_confirmDelete{
  display: none;
  z-index: 10;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 30%;
  height: 10%;
  border: 1px solid #000;
  border-radius: 0.3rem;
  background: #fff;
  
}

#p_confirmDelete{
  position: relative;
  margin: 3.2%;
  margin-left: 3%;
  margin-right: 3%;
}

#div_confirmDelete_shadow{
  z-index: 9;
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  background: rgba(150, 150, 150, 0.4);
  display: none;
}

#div_cladograms{
  z-index: 1;
  position: relative;
  text-align: center;
  top: 2.1rem;
  margin: 0;
}

#btn_confirmDelete{
  margin-left: 10%;
}

.button_cladograms{
  margin: 1.5rem 2rem;
  height: 30rem;
  width: 15rem;
  border: 1px solid #000;
  border-radius: 0.2rem;
  background-color: #fff;
  transition: background-color 0.5s;
}

.ajuste_tec {
  position: absolute;
  top: 0px;
}

.ajuste_tec_aux {
  height: 3rem;
}

#button_addCladogram{
  background-image: url("../images/Add-button.png");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
}


.button_cladograms:hover{
  background-color: #ddd;
  
}

.p_cladograms{
  word-wrap: break-word;
  position: relative;
  text-align: center;
  margin: 0;
  top: -13.5rem;
}

#p_addCladogram{
  font-size: 20px;
}

.button_report{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 14rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  background-color: transparent;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.button-action_ShareDelete{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  border: 0px;
  background-color: transparent;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.button_share{
  background-image: url("../images/icon-share.png");

}

.button_delete{
  background-image: url("../images/icon-delete.png");

}

.alert-dark {
  color: #1b1e21;
  background-color: #cccaca;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}

.alert {
  z-index: 90;
  left: 30%;
  right: 30%;
  top: 90%;
  bottom: 0;
  position: fixed;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.fade {
  transition: opacity 1s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.form-control {
  width: 80%;
  padding: 0.375rem 0.75rem;
  margin: 0;
  margin-right: 0.2rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}



.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}