#div_cladograms{
  z-index: 1;
  position: relative;
  text-align: center;
  top: 3rem;
  margin: 0;
}

.button_cladograms{
  margin: 1.5rem 2rem;
  height: 30rem;
  width: 15rem;
  border: 1px solid #000;
  border-radius: 0.2rem;
  background-color: #fff;
  transition: background-color 0.5s;
}

#button_addCladogram{
  background-image: url("../images/Add-button.png");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
}


.button_cladograms:hover{
  background-color: #ddd;
  
}

.p_cladograms{
  position: relative;
  text-align: center;
  margin: 0;
  top: -14rem;
}

#p_addCladogram{
  font-size: 20px;
}

.button-action_ShareDelete{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  border: 0px;
  background-color: transparent;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.button_share{
  background-image: url("../images/icon-share.png");

}

.button_delete{
  background-image: url("../images/icon-delete.png");

}
