body{
  margin: 0;
  font-family: arial;
}

h1{
  margin-top: 3rem;
}

.class_soli{
  position: absolute;
  width: 35%;
  text-align: center;
  margin: 0;
}

#soli_received{
  margin-right: 60%;
  padding-left: 5%;
}

#soli_sended{
  margin-left: 60%;
  padding-right: 5%;
}

#div_form{
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.form_input{
  width: 29.6rem;
  height: 2rem;
  padding: 0.2rem 0rem 0.2rem 0.4rem;
  margin: 0.8rem 0;
  border: 1px solid #000;
  border-radius: 0.3rem;
  outline: none;
}

.form_inputButton{
  width: 30.2rem;
  color: white;
  padding: 0;
  border: 1px solid #007bff;
  background-color: #007bff;
}

.form_inputButton:hover{
  border: 1px solid #0062cc;
  background-color: #0069d9;
}

.form_inputText:focus, .form_inputButton:active{
  border: 1px solid #007bff;
}

.small_zindex{
  z-index: 100;
}

.smallp{
  position: absolute;
  font-size: 12px;
  color: red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: auto;
}

#small_newCladogram{
  top: 10.3rem;
}

#small_addCladogram{
  top: 28.7rem;
}

#small_error{
  top: 26.8rem;
}

#small_errorRegister{
  top: 22.6rem;
}

#small_password{
  top: 22.6rem;
}

#small_newPassword{
  top: 26.8rem;
}

#small_email{
  top: 14.4rem;
}

#small_name{
  top: 10.4rem;
}

#small_login{
  top: 14.4rem;
}

#small_oldPassword{
  top: 18.5rem;
}

#small_popup{
  top: 8.8rem;
}

#ul_navbar {
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #dddddd;
    height: 34px;
    position: fixed;
    overflow: auto;
}

.li_navbar .a_navbar {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.li_navbar .a_navbar:hover {
    background-color: #555;
    color: white;
}

.li_navbar {
    float: left;
}

.li_right{
  float: right;
}

.a_navbar {
    display: block;
    padding: 8px;
}

a:not(.active){
  color: #000;
}

.active {
    color: white;
    background-color: #555;
}

#createOrEdit_filo{
  text-align: center;
}

#div_informationFilo{
  text-align: left;
}
