body{
  margin: 0px;
  overflow: hidden;
  font-family: arial;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  border-radius: 0.3rem;
}

.btn-primary{
  border: 1px solid #007bff;
  color: #fff;
  background-color: #007bff;
}

.btn-primary:hover{
  border: 1px solid #0062cc;
  background-color: #0069d9;
}

.anime{
  position: absolute;
  display: none;
  bottom: -2.5rem;
  right: 0.5rem;
  transition: 0.4s;
}

.anime-visibility{
  display: inherit;
}

.anime-start{
  bottom: 0.5rem;
}
