body{
  margin: 0;
  font-family: arial;
}

h1{
  margin-top: 3rem;
}

#div_form{
  position: absolute;
  text-align: center;
  margin: 0 32.43045%;
}

.form_input{
  width: 29.6rem;
  height: 2rem;
  padding: 0.2rem 0rem 0.2rem 0.4rem;
  margin: 0.8rem 0;
  border: 1px solid #000;
  border-radius: 0.3rem;
  outline: none;
}

#form_inputButton{
  width: 30.2rem;
  color: white;
  padding: 0;
  border: 1px solid #007bff;
  background-color: #007bff;
}

#form_inputButton:hover{
  border: 1px solid #0062cc;
  background-color: #0069d9;
}

.form_inputText:focus, #form_inputButton:active{
  border: 1px solid #007bff;
}

small{
  position: absolute;
  font-size: 12px;
  color: red;
}

#small_error{
  left:  9.85rem;
  top: 26.8rem;
}

#small_errorRegister{
  left:  9.85rem;
  top: 22.6rem;
}

#small_password{
  left:  10.7rem;
  top: 22.6rem;
}

#small_newPassword{
  left:  10.7rem;
  top: 26.8rem;
}

#small_email{
  left:  11.5rem;
  top: 14.4rem;
}

#small_name{
  left:  12.4rem;
  top: 10.4rem;
}

#small_login{
  left:  10.5rem;
  top: 14.4rem;
}

#small_oldPassword{
  left:  12.5rem;
  top: 18.5rem;
}

#ul_navbar {
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #dddddd;
    height: 34px;
    position: fixed;
    overflow: auto;
}

.li_navbar .a_navbar {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.li_navbar .a_navbar:hover {
    background-color: #555;
    color: white;
}

.li_navbar {
    float: left;
}

.li_right{
  float: right;
}

.a_navbar {
    display: block;
    padding: 8px;
}

a:not(.active){
  color: #000;
}

.active {
    color: white;
    background-color: #555;
}
